In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
import scipy.stats as stats
import os
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [2]:
db_connection_str = 'mysql+pymysql://root:root@localhost/rides'
db_connection = create_engine(db_connection_str)

data = pd.read_sql('SELECT * FROM cab_rides_weather_refined', con=db_connection)
data

,distance,cab_type,time_stamp,destination,source,name,price,surge_multiplier,destination_temp,destination_clouds,destination_pressure,destination_rain,destination_humidity,destination_wind,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind
0,2.90,Lyft,1544923210,Boston University,West End,Lyft XL,16.5,1.0,42.68,0.19,1023.05,NaN,0.71,6.11,42.69,0.17,1023.05,NaN,0.71,6.39
1,0.44,Lyft,1544952608,North Station,Haymarket Square,Shared,5.0,1.0,39.25,0.39,1022.44,NaN,0.74,8.09,39.36,0.39,1022.44,NaN,0.74,8.14
2,3.47,Uber,1543727582,North End,Back Bay,WAV,12.5,1.0,36.67,0.90,1022.67,NaN,0.84,1.04,36.65,0.91,1022.66,NaN,0.84,1.07
3,3.47,Uber,1544940010,North End,Back Bay,Black,26.5,1.0,40.22,0.41,1023.50,NaN,0.70,7.85,40.13,0.41,1023.48,NaN,0.70,7.74
4,3.47,Uber,1544940010,North End,Back Bay,Black SUV,36.5,1.0,40.22,0.41,1023.50,NaN,0.70,7.85,40.13,0.41,1023.48,NaN,0.70,7.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637971,2.17,Uber,1543745276,South Station,North Station,UberPool,10.0,1.0,38.57,1.00,1019.05,0.005,0.91,3.08,38.54,1.00,1019.06,0.0051,0.91,3.03
637972,2.17,Uber,1543745276,South Station,North Station,Black,19.0,1.0,38.57,1.00,1019.05,0.005,0.91,3.08,38.54,1.00,1019.06,0.0051,0.91,3.03
637973,2.17,Uber,1543745276,South Station,North Station,WAV,9.5,1.0,38.57,1.00,1019.05,0.005,0.91,3.08,38.54,1.00,1019.06,0.0051,0.91,3.03
637974,2.95,Lyft,1544728806,North End,Back Bay,Shared,7.0,1.0,32.31,0.69,1033.67,NaN,0.56,2.38,32.33,0.70,1033.66,NaN,0.56,2.34
637975,2.95,Lyft,1544728806,North End,Back Bay,Lyft XL,19.5,1.0,32.31,0.69,1033.67,NaN,0.56,2.38,32.33,0.70,1033.66,NaN,0.56,2.34

In [3]:
data.shape

(637976, 20)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637976 entries, 0 to 637975
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   distance              637976 non-null  float64
 1   cab_type              637976 non-null  object
 2   time_stamp            637976 non-null  int64
 3   destination           637976 non-null  object
 4   source                637976 non-null  object
 5   name                  637976 non-null  object
 6   price                 637976 non-null  float64
 7   surge_multiplier      637976 non-null  float64
 8   destination_temp      634222 non-null  float64
 9   destination_clouds    634222 non-null  float64
 10  destination_pressure  634222 non-null  float64
 11  destination_rain      93309 non-null   float64
 12  destination_humidity  634222 non-null  float64
 13  destination_wind      634222 non-null  float64
 14  source_temp           634287 non-null  float64
 15  source_clouds         634287 non-null  float64
 16  source_pressure       634287 non-null  float64
 17  source_rain           93186 non-null   float64
 18  source_humidity       634287 non-null  float64
 19  source_wind           634287 non-null  float64
dtypes: float64(15), int64(1), object(4)
memory usage: 97.3+ MB

### Data cleaning

In [5]:
data.columns = [data.columns[i].lower().replace(' ', '_') for i in range(len(data.columns)) ]
data.columns

Index(['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'name',
       'price', 'surge_multiplier', 'destination_temp', 'destination_clouds',
       'destination_pressure', 'destination_rain', 'destination_humidity',
       'destination_wind', 'source_temp', 'source_clouds', 'source_pressure',
       'source_rain', 'source_humidity', 'source_wind'],
      dtype='object')

In [6]:
data.isna().sum()

distance                     0
cab_type                     0
time_stamp                   0
destination                  0
source                       0
name                         0
price                        0
surge_multiplier             0
destination_temp          3754
destination_clouds        3754
destination_pressure      3754
destination_rain        544667
destination_humidity      3754
destination_wind          3754
source_temp               3689
source_clouds             3689
source_pressure           3689
source_rain             544790
source_humidity           3689
source_wind               3689
dtype: int64

In [7]:
data_nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
data_nulls.sort_values('percentage', ascending = False)

                      percentage
source_rain            85.393494
destination_rain       85.374215
destination_pressure    0.588423
destination_wind        0.588423
destination_temp        0.588423
destination_clouds      0.588423
destination_humidity    0.588423
source_humidity         0.578235
source_pressure         0.578235
source_clouds           0.578235
source_temp             0.578235
source_wind             0.578235
cab_type                0.000000
surge_multiplier        0.000000
price                   0.000000
name                    0.000000
source                  0.000000
destination             0.000000
time_stamp              0.000000
distance                0.000000

In [8]:
data['destination_pressure'] = data['destination_pressure'].fillna(data['destination_pressure'].median())
data['destination_rain'] = data['destination_rain'].fillna(data['destination_rain'].median())
data['destination_wind'] = data['destination_wind'].fillna(data['destination_wind'].median())
data['destination_temp'] = data['destination_temp'].fillna(data['destination_temp'].median())
data['destination_clouds'] = data['destination_clouds'].fillna(data['destination_clouds'].median())
data['destination_humidity'] = data['destination_humidity'].fillna(data['destination_humidity'].median())

In [9]:
data['source_wind'] = data['source_wind'].fillna(data['source_wind'].median())
data['source_humidity'] = data['source_humidity'].fillna(data['source_humidity'].median())
data['source_rain'] = data['source_rain'].fillna(data['source_rain'].median())
data['source_pressure'] = data['source_pressure'].fillna(data['source_pressure'].median())
data['source_clouds'] = data['source_clouds'].fillna(data['source_clouds'].median())
data['source_temp'] = data['source_temp'].fillna(data['source_temp'].median())

In [10]:
data['source_rain'] = data['source_rain'].fillna(0)
data['destination_rain'] = data['destination_rain'].fillna(0)

In [11]:
data.isna().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
name                    0
price                   0
surge_multiplier        0
destination_temp        0
destination_clouds      0
destination_pressure    0
destination_rain        0
destination_humidity    0
destination_wind        0
source_temp             0
source_clouds           0
source_pressure         0
source_rain             0
source_humidity         0
source_wind             0
dtype: int64

In [12]:
data["date"] = data["time_stamp"].apply(lambda x : datetime.fromtimestamp(x).date())

In [13]:
data["time"] = data["time_stamp"].apply(lambda x: datetime.fromtimestamp(x).time())

In [14]:
data['weekday'] =data['date'].apply(lambda x: x.weekday())

In [15]:
data["weekday"] = data["weekday"].map({0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'})

In [16]:
data['hour'] = data['time'].apply(lambda time: time.hour)

In [17]:
data.loc[(data.hour >= 6) & (data.hour < 12) , 'time_of_day'] = 'Morning'
data.loc[(data.hour >= 12) & (data.hour < 15) , 'time_of_day'] = 'Afternoon'
data.loc[(data.hour >= 15) & (data.hour < 18) , 'time_of_day'] = 'Evening'
data.loc[(data.hour >= 18) | (data.hour < 6) , 'time_of_day'] = 'Night'

In [18]:
data = data.drop(['time_stamp'], axis=1)

In [19]:
data

,distance,cab_type,destination,source,name,price,surge_multiplier,destination_temp,destination_clouds,destination_pressure,destination_rain,destination_humidity,destination_wind,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind,date,time,weekday,hour,time_of_day
0,2.90,Lyft,Boston University,West End,Lyft XL,16.5,1.0,42.68,0.19,1023.05,0.0127,0.71,6.11,42.69,0.17,1023.05,0.0127,0.71,6.39,2018-12-16,02:20:10,Sunday,2,Night
1,0.44,Lyft,North Station,Haymarket Square,Shared,5.0,1.0,39.25,0.39,1022.44,0.0127,0.74,8.09,39.36,0.39,1022.44,0.0127,0.74,8.14,2018-12-16,10:30:08,Sunday,10,Morning
2,3.47,Uber,North End,Back Bay,WAV,12.5,1.0,36.67,0.90,1022.67,0.0127,0.84,1.04,36.65,0.91,1022.66,0.0127,0.84,1.07,2018-12-02,06:13:02,Sunday,6,Morning
3,3.47,Uber,North End,Back Bay,Black,26.5,1.0,40.22,0.41,1023.50,0.0127,0.70,7.85,40.13,0.41,1023.48,0.0127,0.70,7.74,2018-12-16,07:00:10,Sunday,7,Morning
4,3.47,Uber,North End,Back Bay,Black SUV,36.5,1.0,40.22,0.41,1023.50,0.0127,0.70,7.85,40.13,0.41,1023.48,0.0127,0.70,7.74,2018-12-16,07:00:10,Sunday,7,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637971,2.17,Uber,South Station,North Station,UberPool,10.0,1.0,38.57,1.00,1019.05,0.0050,0.91,3.08,38.54,1.00,1019.06,0.0051,0.91,3.03,2018-12-02,11:07:56,Sunday,11,Morning
637972,2.17,Uber,South Station,North Station,Black,19.0,1.0,38.57,1.00,1019.05,0.0050,0.91,3.08,38.54,1.00,1019.06,0.0051,0.91,3.03,2018-12-02,11:07:56,Sunday,11,Morning
637973,2.17,Uber,South Station,North Station,WAV,9.5,1.0,38.57,1.00,1019.05,0.0050,0.91,3.08,38.54,1.00,1019.06,0.0051,0.91,3.03,2018-12-02,11:07:56,Sunday,11,Morning
637974,2.95,Lyft,North End,Back Bay,Shared,7.0,1.0,32.31,0.69,1033.67,0.0127,0.56,2.38,32.33,0.70,1033.66,0.0127,0.56,2.34,2018-12-13,20:20:06,Thursday,20,Night
637975,2.95,Lyft,North End,Back Bay,Lyft XL,19.5,1.0,32.31,0.69,1033.67,0.0127,0.56,2.38,32.33,0.70,1033.66,0.0127,0.56,2.34,2018-12-13,20:20:06,Thursday,20,Night

In [20]:
data['total_rain'] = data['destination_rain'] + data['source_rain']
data

,distance,cab_type,destination,source,name,price,surge_multiplier,destination_temp,destination_clouds,destination_pressure,destination_rain,destination_humidity,destination_wind,source_temp,source_clouds,source_pressure,source_rain,source_humidity,source_wind,date,time,weekday,hour,time_of_day,total_rain
0,2.90,Lyft,Boston University,West End,Lyft XL,16.5,1.0,42.68,0.19,1023.05,0.0127,0.71,6.11,42.69,0.17,1023.05,0.0127,0.71,6.39,2018-12-16,02:20:10,Sunday,2,Night,0.0254
1,0.44,Lyft,North Station,Haymarket Square,Shared,5.0,1.0,39.25,0.39,1022.44,0.0127,0.74,8.09,39.36,0.39,1022.44,0.0127,0.74,8.14,2018-12-16,10:30:08,Sunday,10,Morning,0.0254
2,3.47,Uber,North End,Back Bay,WAV,12.5,1.0,36.67,0.90,1022.67,0.0127,0.84,1.04,36.65,0.91,1022.66,0.0127,0.84,1.07,2018-12-02,06:13:02,Sunday,6,Morning,0.0254
3,3.47,Uber,North End,Back Bay,Black,26.5,1.0,40.22,0.41,1023.50,0.0127,0.70,7.85,40.13,0.41,1023.48,0.0127,0.70,7.74,2018-12-16,07:00:10,Sunday,7,Morning,0.0254
4,3.47,Uber,North End,Back Bay,Black SUV,36.5,1.0,40.22,0.41,1023.50,0.0127,0.70,7.85,40.13,0.41,1023.48,0.0127,0.70,7.74,2018-12-16,07:00:10,Sunday,7,Morning,0.0254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637971,2.17,Uber,South Station,North Station,UberPool,10.0,1.0,38.57,1.00,1019.05,0.0050,0.91,3.08,38.54,1.00,1019.06,0.0051,0.91,3.03,2018-12-02,11:07:56,Sunday,11,Morning,0.0101
637972,2.17,Uber,South Station,North Station,Black,19.0,1.0,38.57,1.00,1019.05,0.0050,0.91,3.08,38.54,1.00,1019.06,0.0051,0.91,3.03,2018-12-02,11:07:56,Sunday,11,Morning,0.0101
637973,2.17,Uber,South Station,North Station,WAV,9.5,1.0,38.57,1.00,1019.05,0.0050,0.91,3.08,38.54,1.00,1019.06,0.0051,0.91,3.03,2018-12-02,11:07:56,Sunday,11,Morning,0.0101
637974,2.95,Lyft,North End,Back Bay,Shared,7.0,1.0,32.31,0.69,1033.67,0.0127,0.56,2.38,32.33,0.70,1033.66,0.0127,0.56,2.34,2018-12-13,20:20:06,Thursday,20,Night,0.0254
637975,2.95,Lyft,North End,Back Bay,Lyft XL,19.5,1.0,32.31,0.69,1033.67,0.0127,0.56,2.38,32.33,0.70,1033.66,0.0127,0.56,2.34,2018-12-13,20:20:06,Thursday,20,Night,0.0254

In [21]:
data.to_csv('C:/Users/faeze/OneDrive/Desktop/Ironhack/Unit-9(final-project)/Dataset/data_import_cleaning.csv')